body {
    background-color: #fcfcfc;
    font-family: roboto;
    font-size: 16px;
    font-weight: 400;
	font-style: normal;
    color: 2E2F42;
}

:root {
	--iris: #4d5ae5;
	--ocean: #404bbf;
	--navy-blue: #2e2f42;
	--green: #31d0aa;
	--slate: #434455;
	--light-slate: #8e8f99;
	--cornflower: #e7e9fc;
	--cloud: #f4f4fd;
	--navy-blue-modal: #2e2f42;
	--grey: #2e2f42;
	--white: #ffffff;
	--dairy: #fcfcfc;
}

/* Header */
.header {
    background-color: var(--white);
}
.logo {
    font-family: raleway;
    font-size: 18px;
    line-height: 21px;

}
.header-logo {

}